.restaurant-detail {
}

.restaurant-detail .topNavbar {
  background-color: transparent;
  background-image: linear-gradient(#222222aa, #eeeeee00);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;
}

.restaurant-detail .restaurant-image {
  width: 100%;
  height: 250px;
  background-color: white;
  color: white;
  background-color: black;
  opacity: 0.8;
}

.restaurant-detail .topNavbar .left-icon {
  margin: 10px;
}

.restaurant-detail .topNavbar .right-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.restaurant-detail .topNavbar .icon {
  opacity: 1;
  color: white;
}

.restaurant-detail .main-info {
  background-color: transparent;
  background-image: linear-gradient( #eeeeee00, #222222bb);
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  /* border-radius: 20px 20px 0px 0px; */
}

.restaurant-detail .main-info .essential {
  margin-left: 20px;
  width: 100%;
}

.restaurant-detail .main-info .essential .type {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 300;
}

.restaurant-detail .main-info .essential .name {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 300;
  font-size: 5vw;
  width: 70%;
  font-weight: 500;
  font-family: "Roboto";
}

.restaurant-detail .main-info .mainRating {
  margin-top: 15px;
  position: absolute;
  right: 10px;
}

.restaurant-detail .mainContent {
  border-radius: 20px;
  background-color: white;
  margin-top: -20px;
  z-index: 100;
  position: absolute;
  width: 100%;
}

.restaurant-detail .mainContent .secondary-info {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.restaurant-detail .mainContent .secondary-info .address-heading {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  color: #52be80;
  font-weight: 400;
  margin-top: 20px;
  margin-right: 0px;
  font-family: "Raleway";
}

.restaurant-detail .mainContent .secondary-info .address {
  font-size: 14px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  font-weight: 500;
  width: 90%;
}

.restaurant-detail .mainContent .secondary-info .navigation-view {
  margin-top: 45px;
  width: 30%;
  text-align: center;
}

.restaurant-detail .mainContent .secondary-info .navigation {
  height: 40px;
  width: 40px;
  text-align: center;
}

.restaurant-detail .mainContent .secondary-info .direction-label {
  color: #52be80;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.restaurant-detail .mainContent .rating-heading {
  margin: 20px;
  margin-top: 50px;
  color: #52be80;
  font-family: "Raleway";
}

.restaurant-detail .mainContent .ratingsView {
  margin: 20px;
}

.restaurant-detail .mainContent .ratingComp {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.restaurant-detail .mainContent .myrating {
  position: absolute;
  right: 20px;
}

.restaurant-detail .rate-button {
  background-color: #52be80;
  width: 70%;
  height: 45px;
  border-radius: 30px;
  border: none;
  margin-left: 15%;
  margin-bottom: 15px;
  color: white;
  font-size: 22px;
}
